<html>
  <br><br><br><br><br><br>

<body style="background-image: url('assets/images/irctc8.jfif');background-repeat: no-repeat;background-size:100% 100%;">
<div class="container">
    <div class="row">
    <div class="col-md-6">
    <div class="card">
    <div class="text-center">
    <h1>Get Station</h1>
    <h6></h6>
    
    </div>
    <form>
        <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Station Id</label>
              <input type="email" class="form-control" id="email" [(ngModel)]="stationId" name="stationId"
              placeholder="Enter Station ID">
            </div>
         
            <button type="button" (click)="getTheStation()"
            class="btn btn-info w-50 p-2 text-white fw-bold btn-block btn-round">Get Station</button>
          </form>
    </form>
    </div>
    </div>
    </div>
    
    
    </div>
</body>
</html>
