
<div class="x">
    <div class="panel panel-primary">
        <div class="panel-heading">
          <h2>Train</h2>
        </div>

        <div class="panel-body">
            <table class="table table-striped">
              <thead>
                  <tr>
    <th>Train ID</th>
    <th>Train Name</th>
    <th>Capacity</th>
    <th>Type</th>
    </tr>
    <tr>
    
    <td>{{train.trainId}}</td>
    
        <td>{{train.trainName}}</td>
    
    <td>{{train.capacity}}</td>
    
    <td>{{train.type}}</td>
   
    </tr>
    </thead>
    </table>
    
    </div>
    </div>
    