<html>
  <br><br><br><br><br><br>
<body style="background-image: url('assets/images/irctc8.jfif');background-repeat: no-repeat;background-size:100% 100%;">

<div class="container">
    <div class="row">
    <div class="col-md-6">
    <div class="card">
    <div class="text-center">
    <h1>Get Train</h1>
    <h6></h6>
    
    </div>
    <form>
        <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Train Id</label>
              <input type="email" class="form-control" id="email" [(ngModel)]="trainId" name="trainId"
              placeholder="Enter train ID">
            </div>
         
            <button type="button" (click)="getthetrain()"
            class="btn btn-info w-50 p-2 text-white fw-bold btn-block btn-round">Get Train</button>
          </form>
    </form>
    </div>
    </div>
    </div>
    
    
    </div>
</body>
</html>