<mat-nav-list>
    <div class="v">
      <img src="assets/images/irctclogo.jfif"   alt="Company Logo"  width="100%"  height="10%"/>
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">APPLICATIONS</h2>
  
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
      <mat-icon>home</mat-icon> Home
    </a> -->
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/findtrain">
      <mat-icon>add</mat-icon> Book Ticket
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/getallstations">
      <mat-icon>label</mat-icon> Get All Stations
    </a>
    
    
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/getticket">
      <mat-icon>get_app</mat-icon>Get Ticket
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/addstation">
      <mat-icon>add</mat-icon> Add Station
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/getstation">
      <mat-icon>label</mat-icon> Get Station
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/addtrain">
      <mat-icon>add</mat-icon> Add Train
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/gettrain">
      <mat-icon>label</mat-icon> Get Train
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/getalltrains">
      <mat-icon>label</mat-icon> Get All Trains
    </a>
   



  </mat-nav-list>
